nav {
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none;    /* Firefox */
  -ms-user-select: none;     /* Internet Explorer */
  user-select: none;  
  width: 100%;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav .sections {
    width: 70%;
    height: 100%;
    margin: 0 30px;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0;
}

nav .sections li button{
    background: none;
    border: none;
    color: var(--text-color);
    font-family: 'Orbitron';
    font-size: 20px;
    font-weight: lighter;
    text-decoration: none;
    cursor: pointer;
}

 nav .sections li:hover {
    transform: scale(1.1);
    transition: all 0.3s ease;
  }

nav .sections button.active {
    color: #18D26F; 
    text-decoration: underline;
}


/* .language-preference {
    position: absolute;
    right: 0;
    font-size: 20px;
    padding: 3px 6px;
    margin-inline: 30px;
    display: flex;
    align-items: center;
    color: white;
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 10px;
}

 .language-preference p {
    margin: 0;
    font-size: 10px;
} */

/* Contenedor principal */
    .dropdown {
        font-family: var(--font-secundary);
        position: absolute;
        right: 0;
        display: inline-block;
        margin-right: 30px;
        height: max-content;
    }
  
  /* Botón principal */
  .dropdown-button {
    background-color: #18D26F; /* Color del botón */
    color: white;
    padding: 3px 6px;
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    font-size: 20px;
    display: flex;
    align-items: center;    
  }

  .dropdown-button p {
    margin: 0;
    font-size: 10px;
  }
  
  /* Estilo del menú desplegable */
  .dropdown-menu {
    opacity: 0;
    position: absolute;
    right: 0;
    top: 120%;
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    padding: 10px 0;
    margin: 0;
    list-style: none;
    border-radius: 5px;
    z-index: 1000;
    min-width: max-content;
    height: max-content;
    transform: translateY(-10px);
    transition: opacity 0.3s ease, transform 0.3s ease;
    visibility: hidden;
  }

  .dropdown-menu.show {
    opacity: 1;
    transform: translateY(0);
    visibility: visible
  }
  
  /* Estilo de los elementos del menú */
  .dropdown-menu li {
    padding: 1px 16px;
  }
  
  .dropdown-menu li a {
    text-decoration: none;
    display: block;
    padding: 3px 6px;
    border-radius: 5px;
    font-size: 15px;
    color: white;
  }
  
  /* Cambiar el color al pasar el mouse */
  .dropdown-menu li a:hover {
    background-color: #18D26F;    
    color: #333;
  }
  

@media (max-width: 700px) {
    nav .sections{
        width: 80%;
        padding: 0;
    }

    nav .sections li button{
        font-size: 12px;
    }

    .dropdown {
        margin-inline: 10px;
    }

    .dropdown-button {
        font-size: 15px;
        padding: 2px 4px;
        border-radius: 5px;
    }

    .dropdown-button p {
        font-size: 8px;
    }

}

