$arrow-color: white; // Cambia este color según tu diseño
$arrow-size: 2rem;
$bounce-duration: 1.5s;

.App {
  text-align: center;
  margin: 0;
}

#skills {
  display: flex;  
  align-items: center;
  flex-direction: column;
  padding-top: 90px;
  h1{
    color: var(--principal-color);
    font-size: 35px;
  }

}

.languages-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.language_skill {
  height: 100px;
  width: 100px;
  margin: 50px 35px;
  text-align: center;
  img {
    height: 100%;
    max-width: 100%;
    filter: drop-shadow( 0 0 8px rgba(0, 0, 0, 0.3))
  };
  h3{
    font-size: 20;
    font-weight: 300;
  }
  
}

@media (min-width: 640px) {

  .language_skill{
    height: 180px;
    width: 180px;
    margin: 50px 70px;
  }

}

@media (min-width: 640px) {

  .language_skill{
    height: 180px;
    width: 180px;
  }

  #skills {
    padding-top: 120px;
  }

}


@media (min-width: 1280px) {

  .languages-container {
    width: 1000px;
    justify-content: space-between;
  }

}



.hero-section {
  position: relative;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  // Fondo animado
  background: linear-gradient(270deg, #00ff00, #00aaff, #ff007f);
  background-size: 600% 600%;
  animation: gradientAnimation 8s ease infinite;

  // Asegura que el contenido sea legible
  color: #fff;
  z-index: 1;
}

@keyframes gradientAnimation {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}
