.App {
  text-align: center;
  margin: 0;
}

#skills {
  display: flex;  
  align-items: center;
  flex-direction: column;
  padding-top: 90px;
  h1{
    color: #18D26F;
    font-size: 35px;
  }

}

.languages-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.language_skill {
  height: 100px;
  width: 100px;
  margin: 50px 35px;
  text-align: center;
  img {
    height: 100%;
    max-width: 100%;
  };
  h3{
    font-size: 20;
    font-weight: 300;
  }
  
}

@media (min-width: 640px) {

  .language_skill{
    height: 180px;
    width: 180px;
    margin: 50px 70px;
  }

}

@media (min-width: 640px) {

  .language_skill{
    height: 180px;
    width: 180px;
  }

  #skills {
    padding-top: 120px;
  }

}


@media (min-width: 1280px) {

  .languages-container {
    width: 1000px;
    justify-content: space-between;
  }

}


