
.App {
  text-align: center;
  margin: 0;
}

#home-skills {
  padding-block: 20vh;
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.languages-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.language_skill {
  height: 100px;
  width: 100px;
  margin: 50px 35px;
  text-align: center;
  img {
    height: 100%;
    max-width: 100%;
    filter: drop-shadow( 0 0 8px rgba(0, 0, 0, 0.3))
  };
  h3{
    font-size: 20;
    font-weight: 300;
  }
  
}




@media (max-width: 640px) {

  #home-skills {
    padding-block: 15vh;
  }
  
}
